---
layout: home
---
<div class="full-width home-banner">
	<div class="row">
		<section class="columns small-12 scrolling-img">
			<img src="img/scroller.png" draggable="false">
		</section>
	</div>
	<section class="row">
		<div class="column small-12">
			<section class="medium-8 small-0 column"></section>
			<section class="column small-12">
				<div class="tagline">
					<span>Give your users what they</span>
					<span class="list">
						<ul>
							<li>want.</li>
							<li>desire.</li>
							<li>need.</li>
							<li>deserve.</li>
							<li>buy.</li>
							<li>demand.</li>
							<li>crave.</li>
							<li>wish.</li>
							<li>yearn.</li>
							<li>expect.</li>
						</ul>
					</span>

				</div>
			</section>
		</div>
		<div class="row">
				<a class="banner-btn" href="/contact/">Contact</a>
		</div>
	</section>
</div>

<!--box section-->
<section class="row img-row">
	<a class="column small-12 h3-link" href="projects/"><h3>projects</h3></a>

	<figure class="column small-6 medium-6 home-img">
		<img src="img/wsma-bg.png" alt="West Side Music Academy Project Page">
		<figcaption>
			<h3 class="title">WSMA</h3>
			<p class="title">West Side Music Academy is a Seattle-based school offering lessons for multiple instruments</p>
			<h3 class="fig-hover">Read more...</h3>
		</figcaption>
		<a href="/projects/wsma/"></a>
	</figure>

	<figure class="column small-6 medium-6 home-img">
		<img src="img/ivory-bg.jpg" alt="Ivory Project Page">
		<figcaption>
			<h3 class="title">Creating Ivory</h3>
			<p class="title">Ivory is an online shop for men’s designer clothing. A study in user flow and E-Commerce interaction</p>
			<h3 class="fig-hover">Read more...</h3>
		</figcaption>
		<a href="/projects/ivory/"></a>
	</figure>

	<figure class="column small-6 medium-6 home-img">
		<img src="img/lanza-bg.jpg" alt="Cooper Lanza Art Page">
		<figcaption>
			<h3 class="title">Cooper Lanza Art</h3>
			<p class="title">Cooper Lanza is an oil painter who needed a portfolio website to show and reflect her artist ability</p>
			<h3 class="fig-hover">Read more...</h3>
		</figcaption>
		<a href="/projects/cooper-lanza-art/"></a>
	</figure>

	<figure class="column small-6 medium-6 home-img">
		<img src="img/floresta-bg.png" alt="Floresta Project Page">
		<figcaption>
			<h3 class="title">Floresta</h3>
			<p class="title">Located in Panama, Floresta seeks to build a housing construct with a strong sense of community</p>
			<h3 class="fig-hover">Read more...</h3>
		</figcaption>
		<a href="/projects/floresta/"></a>
	</figure>

	<!-- <figure class="column small-6 medium-6 home-img">
        <img src="http://fillmurray.com/460/460" alt="">
        <figcaption>
            <h3 class="title">Cooper Lanza Art</h3>
            <p class="title">Cooper Lanza is an oil painter who needed a portfolio website to show and reflect her artist ability</p>
            <h3 class="fig-hover">Read more...</h3>
        </figcaption>
        <a href="/projects/cooper-lanza-art/"></a>
    </figure>-->


</section>

<!-- About Section -->
<div class="home-about full-width">
	<section class="row">
		<span class="column small-12 home-about__intro">
			<h1>Hey, I'm Tracey Talevich and I create for the internet things as a Front-End Web Designer &amp; Developer</h1>
		</span>
		<section class='tag-cloud'>
			<ul>
				<li>
					<h3>HTML + CSS</h3>
				</li>
				<li>
					<h3>Shopify</h3>
				</li>
				<li>
					<h3>JavaScript + jQuery</h3>
				</li>
				<li>
					<h3>Rails</h3>
				</li>
				<li>
					<h3>Adobe Suite</h3>
				</li>
				<li>
					<h3>Wordpress</h3>
				</li>
				<li>
					<h3>MySQL</h3>
				</li>
				<li>
					<h3>+ many more!</h3>
				</li>
			</ul>
		</section>
	</section>
</div>
<!--Latest post section-->
<section class="row split-row project-layout">
	<a class="column small-12 h3-link" href="/blog/"><h3>recent posts</h3></a>
	<div class="column medium-6 small-12">
		{% for post in site.posts limit:1 %}
		<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
		<p>{{ post.exerpt }}</p>
		<a href="{{ post.url }}" class="read-more">read more</a> {% endfor %}
	</div>

	<div class="column medium-6 small-12">
		{% for post in site.posts limit:1 offset:1 %}
		<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
		<p>{{ post.exerpt }}</p>
		<a href="{{ post.url }}" class="read-more">read more</a> {% endfor %}
	</div>
</section>
