<div class="row share-page">
	<section class="columns small-12 small-centered">
		<section class="columns small-2">
			<a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a>
			<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			<div id="fb-root"></div>
			<script>
				(function (d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) return;
					js = d.createElement(s);
					js.id = id;
					js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
			</script>

			<!-- Your share button code -->
			<div class="fb-share-button" data-href="{{ site.url }}{{ page.url }}" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}%2F&amp;src=sdkpreparse">Share</a></div>

			<div class="g-plusone"></div>
		</section>
		<section class="column small-8 medium-10">
			<h3>Hey! If you like what you read - give it a share</h3>
			<p>I will be very happy</p>
		</section>
	</section>
</div>