
  <div class="row author-footer clearfix">
  <hr>
   <div class="column small-12 large-centered author-box"></div>
   <span class="column large-2 medium-1">&nbsp;</span>
    <span class="author-portrait column medium-2 large-2">
        <a href="{{site.url}}/about/"><img src="{{site.url}}/img/watercolor-self-sm.png" alt="" title="It's me"></a>
    </span>
    <span class="author-about column medium-8">
        <h4>Tracey Talevich</h4>
        <p>
            I'm the&nbsp; &#128081; &nbsp; of Vooshi. I design and code things. It's fun.
        </p>
        <span class="social">{% include /icons/social-icons.html %}</span>
    </span>
    <span class="column medium-1 large-2"></span>
</div>
 
<div class="mobile-author clearfix">
    <div class="row author-footer-mob">
    <div class="small-12">
     <div class="column small-centered small-10">
          <a href="{{site.url}}/about/"><img src="{{site.url}}/img/watercolor-self-sm.png" alt="" title="It's me"></a>
          <span>Tracey Talevich | &#128081; &nbsp; of Vooshi</span>
      </div>
    </div>
    <div class="mobile-social row">
        <div class="columns small-centered small-6">
            <span class="social-footer">{% include /icons/social-icons.html %}</span>
        </div>
    </div>
    </div>
</div> 