<div class="banner">
    <span class="tagline">
      <span class="span-1">
        <h1>My name is Tracey</h1>
        <h1>Welcome to Vooshi</h1>
      </span>
      <span class="span-2">
        <h1>Web Designer</h1>
        <h1>&amp; Developer</h1>
      </span>
      <span class="span-3">
        <h1>UI / UX Designer</h1>
        <h1>Dreamer</h1>
      </span>
      <span class="span-4">
        <h1>Interested?</h1>
        <a href="{{ site.url }}/contact/" class="banner-contact"><h1>Contact me</h1></a>
      </span>
    </span>
  </div>
  
<!-- Change hello my name is stuff into profile about me -->