<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/css/featherlight.min.css" | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/css/foundation.css" | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.url }}">
    <script src="{{ "/js/vendor/modernizr-2.8.3.min.js" | prepend: site.url }}"></script>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <!-- Chrome, Firefox OS, Opera and Vivaldi -->
    <meta name="theme-color" content="#DB504A">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#DB504A">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#DB504A">
    {% include favicon.html %}
    {% seo %}
</head>
