// Home page

.home-banner {
	margin-top: -150px;
	height: 530px;
	display: block;
	background-image: linear-gradient(-180deg, #DB504A 0%, #9F041B 100%);
	position: relative;
	z-index:-1;
	width:100%;
	.scrolling-img {
		width:100%;
		max-width:980px;
		height:200px;
		z-index:1;
		clear:both;
		overflow:hidden;
		margin-top: 20px;
		img {
 			animation: slide-over 1.6s cubic-bezier(.63, -0.15, .96, .59) reverse;
			height:200px;
			width:200%;
			position: relative;
			text-align: center;
			display: block;
		}
	}

	.tagline {
		width:110%;
		overflow:hidden;
		height:30px;
		margin-top:30px;
		position: relative;
		z-index:1000;
		h1 {
			color: #fefefe;
			font-size: 1.1em;
			text-align: left;
			margin-left: 0px;
		}

		ul {
			list-style: none;
			color:#fefefe;
			font-size:1.1em;
			display: inline;
			float: right;
			margin-top:-19px;
			margin-right:16px;
			font-weight: 600;
			animation: change 3s .8s ease-in-out;
			animation-fill-mode:both;
			z-index:1;
			li {
				padding-bottom: 20px;
			}
		}
	}

	a.banner-btn {
		background:#fefefe;
		padding:3px 20px;
		font-size: 1em;
		font-weight: 500;
		border-radius: 0px 50px  50px  0;
		color:$brand-color;
		margin-top:10px;
		&:hover {
			transition: .5s ease;
			background:darken(#fefefe, 20%);
		}
	}

}
@keyframes slide-over {
	0%{ transform: translateX(0);}
	100%{ transform: translateX(-105%);}
}
@keyframes opacity {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes change {
	0% { transform: translateY(-2px); }
	20% { transform:translateY(-20px); }
	40% { transform:translateY(-40px); }
	60% { transform:translateY(-60px); }
	100% { transform:translateY(-370px); }
}


.banner {
	background: $brand-color;
	margin: 60px auto;
	position: relative;

	.banner-contact h1 {
		border-bottom: 2px solid #fefefe;
		padding-bottom: 8px;
	}

	span.tagline {
		display: flex;
		margin: 0 auto;
		text-align: center;
		height: 500px;
		justify-content: center;
		align-items: center;

		span {
			animation: slideUp 400ms ease-in-out;
		}

		h1 {
			color: #fafafa;
			font: 'Lato', sans-serif;
			font-weight: 300;
			line-height: 0.7em;
		}
	}
}

.project-layout div {
	margin-bottom: 30px;
}

.img-row {
	figure {
		padding-bottom: 30px;
		position: relative;
		transition: 0.4s ease-in-out;
	}

	h3 {
		transition: 0.2s ease-in-out;
	}

	figure.fig-hover {
		transition: 0.5s ease;
	}

	figcaption {
		position: absolute;
		background-color: #fafafa;
		z-index: 1;
		top: 50%;
		left: 50%;
		padding: 5px 20px;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-75%, -50%);
		line-height: 1.2em;
		overflow: hidden;
		height: 50%;
		transition: 0.4s ease-in-out;

		h3.title {
			margin-bottom: 10px;
			transition: 0.4s ease-in-out;
		}

		p {
			font-weight: 400;
		}
	}

	figure img {
		transition: 0.2s ease-in-out;
	}

	figure.fig-hover > img,
	figure:hover > img {
		transition: 0.4s ease-in-out;
		opacity: 0.2;
	}

	figure figcaption {
		transition: 0.2s ease-in-out;
	}

	figure.fig-hover figcaption,
	figure:hover figcaption {
		background-color: $brand-color;
		box-shadow: 10px 10px darken($brand-color,10%);
		transition: 0.3s ease-in-out;
	}

	figure .title {
		transition: 0.3s ease-in-out;
	}

	figure.fig-hover .title,
	figure:hover .title {
		-webkit-transform: translateY(-150%);
		transform: translateY(-150%);
		transition: 0.2s ease;
		color: #fafafa;
	}

	figure.fig-hover .fig-hover,
	figure:hover .fig-hover {
		-webkit-transform: translateY(-150%);
		transform: translateY(-150%);
		transition: 0.2s ease;
		color: #fafafa;
	}

	figure a {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		border-bottom: none;
		transition: 0.4s ease-in-out;
	}

	figure.home-img img {
		vertical-align: top;
		max-width: 100%;
		backface-visibility: hidden;
	}
}

.split-row {
	margin-top: 60px;
	padding-bottom: 30px;

	img {
		margin-bottom: 30px;
	}
}
