// Utilities
.font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.column:last-child:not(:first-child),
.columns:last-child:not(:first-child) {
	//float:none !important;
}

::-moz-selection {
	color: white;
	background: #262626;
}

::selection {
	color: white;
	background: #262626;
}

a::selection {
	color: aquamarine;
}

a-moz-::selection {
	color: aquamarine;
}

.lb img:hover {
	cursor: crosshair;
}

.hidden {
	display: none;
}

svg.rotate {
	transform: rotate(-25deg);
	margin-top: -100px;
	z-index: 0;
}

.clearfix {
	clear: both;
}

img[data-featherlight] {
	cursor: crosshair;
	transition: .3s ease;
	&:hover {
		opacity: .6;
	}
}

.soft-shadow {
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

video {
	padding: 30px 0;
}

// type
h1 {
	font-family: 'Lato';
	font-size: 48px;
	font-weight: 300;
	color: #7D7D7D;
	line-height: 1.1em;
	a {
		color: #7D7D7D;
		&:hover {
			color: $brand-color;
			transition: .4s ease;
			border-bottom: none;
		}
	}
}

h3 {
	font-family: 'Lato';
	font-weight: 600;
	font-size: 1.2em;
	color: #4D4D4D;
	line-height: 1.2em;
	padding-top: 15px;
}

h4 {
	font-family: 'Lato';
	font-weight: 600;
	font-size: 1em;
	color: #4D4D4D;
	line-height: 1.2em;
	padding-top: 15px;
}

.h3-link {
	transition: .4s ease;
	&:hover {
		border-bottom: 0px solid;
		transition: .4s ease;
		h3 {
			color: $brand-color;
			transition: .4s ease;
		}
	}
}

.tip {
	font-weight: 700;
	font-size: .8em;
	color: lighten(#4d4d4d, 40%);
	margin-top: -20px;
}

a {
	text-decoration: none;
	color: darken($grey-color, 30%);
	&:hover {
		color: darken($grey-color, 30%);
		transition: .4s ease;
		border-bottom: 1px solid darken($grey-color, 30%);
	}
	.read-more {
		color: darken($grey-color, 30%);
		font-size: .8em;
		display: block;
	}
}

p {
	z-index: 100;
	letter-spacing: .02em;
	a {
		color: $brand-color;
		transition: .4s ease;
		border-bottom: 1px solid $brand-color;
	}
}

dl {
	font-family: serif;
	line-height: 1em;
	font-size: 1em;
	dt {
		font-weight: 400;
	}
	dd {
		margin-left: .8em;
		font-weight: 400;
		color: lighten($grey-color, 20%);
	}
}

ul {
	li {
		margin-left: 2rem;
	}
}

// Nav / header
.active {
	text-decoration: underline;
}

header {
	margin-top: 30px;
	.logo {
		a:hover {
			border-bottom: 0px solid;
		}
		svg {
			transition: .4s ease;
			margin-top: -10px;
			&:hover {
				transform: scale(1.3);
				border-bottom: 0px solid;
			}
		}
	}
}

nav {
	height: 30px;
	z-index: 100;
	ul {
		float: right;
		li {
			list-style: none;
			float: left;
			display: block;
			margin: 0px 12px;
			a {
				color: $grey-color;
				text-decoration: none;
				font-size: 16px;
				font-weight: 400;
				z-index: 1000;
				&:hover {
					color: darken($grey-color, 30%);
					transition: .4s ease;
					border-bottom: 1px solid darken($grey-color, 30%);
				}
			}
		}
	}
	.social {
		float: right;
		line-height: 36px;
		padding-left: 2em;
		a {
			text-decoration: none;
			padding: 0 4px;
			&:hover {
				border-bottom: none;
			}
		}
		svg {
			width: 20px;
			height: 20px;
			fill: #7d7d7d;
			transition: .2s ease-in-out;
			&:hover {
				animation: wiggle .7s ease both;
				fill: $brand-color;
				transition: .2s ease-in-out;
			}
		}
	}
}

.home-nav {
	position:relative;
	z-index:1000;
	.logo > a > svg {
		position:relative;
		z-index:1000;
	}
	a {
		color: #fefefe;
	}
	.social {
		svg {
			fill: #fefefe;
		}
		&:hover {
			fill: #7d7d7d;
		}
	}
}

.current {
	color: darken($grey-color, 30%);
	border-bottom: 1px solid darken($grey-color, 30%);
}

// footer {
footer {
	margin-top: 30px;
	p {
		width: 100%;
		text-align: center;
		font-size: $small-font-size;
	}
}

// animations
@keyframes wiggle {
	0% {
		transform: rotate(0deg);
	}
	15% {
		transform: rotate(10deg);
	}
	30% {
		transform: rotate(-10deg);
	}
	45% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(-10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes slideUp {
	0% {
		transform: translateY(40px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes dots {
	0% {
		content: '.';
	}
	50% {
		content: '..';
	}
	100% {
		content: '...';
	}
}

@keyframes heartbeat {
	0% {
		font-size: $small-font-size;
	}
	100% {
		font-size: $small-font-size*.9;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translate(0px, 40px)
	}
	100% {
		opacity: 1;
		transform: translate(0px, 0px)
	}
}

@media screen and (max-width:856px) {
	.img-row {
		figure {
			padding-bottom: 30px;
			position: relative;
		}
		figure.fig-hover {
			transition: .5s ease;
		}
		figcaption {
			position: absolute;
			background-color: #fafafa;
			z-index: 1;
			top: 50%;
			left: 50%;
			padding: 5px 10px;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-75%, -50%);
			line-height: 1.2em;
			overflow: hidden;
			height: 80%;
			h3.title {
				margin-bottom: 2px;
			}
			p {
				font-weight: 400;
				font-size: 1em;
				line-height: 1.1em;
			}
		}
		figure:hover > img,
		figure.fig-hover > img {
			transition: .6s ease-in-out;
			opacity: .2;
		}
		figure:hover figcaption,
		figure.fig-hover figcaption {
			background-color: $brand-color;
			transition: .3s ease-in-out;
		}
		figure:hover .title,
		figure.fig-hover .title {
			-webkit-transform: translateY(-150%);
			transform: translateY(-150%);
			transition: .2s ease;
			color: #fafafa;
		}
		figure:hover .fig-hover,
		figure.fig-hover .fig-hover {
			-webkit-transform: translateY(-150%);
			transform: translateY(-150%);
			transition: .2s ease;
			color: #fafafa;
		}
		figure a {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
			border-bottom: none;
		}
		figure.home-img img {
			vertical-align: top;
			max-width: 100%;
			backface-visibility: hidden;
		}
	}
}

@media screen and (max-width:505px) {
	.social {
		display: none;
	}
	.img-row {
		figure {
			padding-bottom: 30px;
			position: relative;
			overflow: hidden;
		}
		figure.fig-hover {
			transition: .5s ease;
		}
		figcaption {
			position: absolute;
			background-color: #fafafa;
			z-index: 1;
			top: 0%;
			left: 0%;
			padding: 5px 10px;
			-webkit-transform: translate(0%, 0%);
			transform: translate(0%, 0%);
			line-height: 1.2em;
			overflow: hidden;
			height: 100%;
			width: 100%;
			h3.title {
				margin-bottom: 2px;
			}
			p {
				font-weight: 400;
				font-size: 1em;
				line-height: 1.1em;
			}
		}
		figure:hover > img,
		figure.fig-hover > img {
			transition: .6s ease-in-out;
			opacity: .2;
		}
		figure:hover figcaption,
		figure.fig-hover figcaption {
			background-color: $brand-color;
			transition: .3s ease-in-out;
		}
		figure:hover .title,
		figure.fig-hover .title {
			-webkit-transform: translateY(-150%);
			transform: translateY(-150%);
			transition: .2s ease;
			color: #fafafa;
		}
		figure:hover .fig-hover,
		figure.fig-hover .fig-hover {
			-webkit-transform: translateY(-150%);
			transform: translateY(-150%);
			transition: .2s ease;
			color: #fafafa;
		}
		figure a {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
			border-bottom: none;
		}
		figure.home-img img {
			vertical-align: top;
			max-width: 100%;
			backface-visibility: hidden;
		}
	}
}

@media screen and (max-width:640px) {
	.thumbnail {
		display: none;
	}
	.author-footer {
		display: none;
	}
	.mobile-author {
		display: block;
	}
	.device-1 {
		width: 100%;
	}
	.tagline {
		margin-top: 0;
	}
}

@media screen and (max-width:428px) {
	ul {
		li {
			margin-left: 0rem;
		}
	}
	.home-banner {
		height:300px;
	}
	.banner {
		background: $brand-color;
		margin: 60px auto 60px auto;
		position: relative;
		}
	span.list {
		margin-left:3px !important;
	}
	
	.scrolling-img {
		display:none;
	}
	
}